/* a) Selectores de tipo */

/* 1.-Todos los elementos tendrán color darkred */
*{color: darkred;}  
/* Con * afecta a todos los elementos */

/* 2.-Todos los titulares h1 tendrán color darkblue */
h1{color: darkblue;}

/* 3.-Los titulares h2 y h3 tendrán color darkslateblue */
h2, h3{color: darkslateblue;}

/* 4.-Todos los titulares tendrán el tipo de letra Georgia */ */
h1,h2,h3,h4{font-family: Georgia, 'Times New Roman', Times, serif;}





/* b) Selectores combinadores: */

/* Quita la decoración a los enlaces que estén dentro de la barra de navegación */
nav a{
    text-decoration: none;
}

/* Establece un tamaño de fuente de 30px y una altura de línea de 1.5 a los párrafos que están dentro de <main> */
main p{
    font-size: 30px;
    line-height: 1.5;
}

/* Establece un tamaño de fuente de 20px a todos los párrafos que estén dentro de una etiqueta <section> */
section p{
    font-size: 20px;
}

/* Establece un tamaño de fuente de 24px solo a los párrafos que son hijos directos de <section> */
section > p{
    font-size: 24px;
}

/* Todos los titulares <h1> que están dentro de <header> y los <h2> dentro de <main> estarán centrados */
header h1, main h2{
    text-align: center;
}

/* Pon un borde de 2px punteado de color negro solo al <section> que aparece después de <main> */
main+section{
    border: 2px dotted black ;
}

/* Pon fondo gris claro a todos los elementos que siguen a <main> y que estén a su mismo nivel */
main~*{
    background-color: rgb(185, 184, 184);
}
/* Utilizamos ~ Para seleccionar todos los elementos hermanos que siguen a otro utilizaremos */

/* El primer artículo tendrá una anchura de 200px y color de fondo bisque */
section>h2+article{
    width: 200px;
    background-color: bisque;
}
/* Lo hago asi porque h2 es hijo directo de section y despues de h2 aparece article el primero */




/* c) Selectores por atributos: */

/* Establece una anchura de 200px a todas las imágenes que tengan el atributo alt */
img[alt] {width: 200px;}

/* Establece un border-radius del 50% a las imágenes cuyo texto alternativo empiece por mon */
img[alt^="mon"] { 
    border-radius: 50%; 
}

/* Establece una anchura de 300px a las imágenes cuyo nombre de archivo contenga el número 2 */
img[src*="2.jpg"]{
    width: 300px;
}

/* Establece un borde naranja oscuro de 5px sólido a las imágenes cuyo texto alternativo acabe en o */
img[alt$="o"]{
    border: 5px solid rgb(200, 110, 0);
}

/* Establece un borde exterior de 10px azul a las imágenes cuyo texto alternativo contenga la palabra mono */


img[alt*="mono"]{
border: 10px solid blue;
}

/* Los enlaces con destino contacto.html estarán tachados */
a[href*="contacto.html"]{
    text-decoration: line-through;
}